<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Bacharelado de Tecnologia da informação</h1>
    <h2>Estudo Faculdade</h2>
    <a href="faculdade/fundamate.html">Fundamentos Matemática para Computação</a>
    <a href="faculdade/algorprogram.html">Algotmo de programações II</a>
    <a href="faculdade/fundainterweb.html">fundamentos da internet para web</a>
    
</body>
</html>