<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de html</title>
</head>
<body>
    <h1>Cuso de HTML</h1>
    <section>
        <p>HTML é uma Linguagem de marcação padrão para páginas da Web.<br>
            Com HTML você pode criar seu próprio site.<br>
            HTML é fácil de aprender - Você vai se divertir</p>
    </section>
    <section>
        <h2>Introdução HTML</h2>
        <p> <strong>HTML</strong> é uma Linguagem de marcação padrão para páginas da Web.<br>
            <h3>O que é HTML</h3>
            <strong>HTML</strong> Significa linguagem de marcação de hipertexto<br>
            <strong>HTML</strong> é uma Linguagem de marcação padrão para páginas da Web.<br> 
            <strong>HTML</strong> descreve a estrutura de uma página de Web<br>
            <strong>HTML</strong> consiste em uma serie de elementos<br>
            Os elementos <strong>HTML</strong> informam ao navegadores como exibir o conteúdo<br>
            Os elementos <strong>HTML</strong> rotulam partes do conteúdo como <em>“este é um título”</em>, <em>“este é um  parágrafo”</em>, <em>“ este é um link”</em> , etc.</p>
        
        
        <h3>Exemplo explicado</h3>
        <p>A </p>
    
    
    
    
        </section>
        <blockquote cite="https://www.palmeiras.com.br/noticias/palmeiras-se-une-a-gigante-de-tecnologia-adobe-para-aprimorar-servicos-do-acervo-digital-do-clube/">
            Em busca de uma constante melhoria na qualidade dos serviços oferecidos, o Departamento de Marketing do Palmeiras fechou uma parceria inédita na América Latina com a Adobe, umas das principais empresas de software do mundo, para otimizar e disponibilizar o seu acervo digital. Com quase 110 anos de história, o clube dispõe de um banco grandioso de documentos e outros registros que serão organizados de forma padronizada e inteligente na Adobe Experience Cloud. 

        </blockquote>
</body>
</html>
